<div class="contenedor">
  <div class="bg-black text-secondary px-4 py-5 text-center segundo">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">NODO - Mis cinco cuerpos</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
          Continuación del proyecto presentado en el módulo de Front-end,
          implementando las funciones requeridas en el módulo actual.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button
            type="button"
            (click)="login()"
            class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
          >
            Iniciar sesión
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
